<h1><text-aline><center>PREGUNTAS Y RESPUESTAS</center></text-aline></h1>
<p style="text-align:center">Hola jugador , ¡bienvenido! , esperamos que aprendas mucho.     REGISTRATE, LOGUEATE y PON A PRUEBA TUS CONOCIMIENTOS</p>
<body>
<center>
<img src="https://i.pinimg.com/originals/11/df/58/11df58e8d717e9358c502a66156ed374.gif"
</center>
</body>